:host {
    width: 100%;
    height: 100%;
}

:host > * {
    flex-basis: 100%;
}

:host > h1 {
    text-align: center;
}

.toolbar {
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.4);
}