<div *ngIf="!(data.player | async)" class="lookup-message"><span>Hint: Enter a player name / region above to see player stats</span></div>
<div *ngIf="data.playerNotFound | async" class="lookup-message"><span>Player not found. Note: Player names are case sensitive</span></div>

<div *ngIf="data.player | async">

    <div class="flex-col">
        <div class="flex-item"><h2>{{ (data.player | async)?.name }}</h2></div>
        <div class="flex-item">STREAK: 
            <span *ngIf="(data.player | async)?.lossStreak">-{{ (data.player | async)?.lossStreak }}</span>
            <span *ngIf="(data.player | async)?.winStreak">+{{ (data.player | async)?.winStreak }}</span>
        </div>
        <div class="flex-item">WIN RATE: {{ ((data.player | async)?.wins / (data.player | async)?.played * 100).toFixed(2) }}%</div>
        <div class="flex-item">MAINS: <span *ngFor="let hero of commonHeroes"><img src="{{ hero }}" alt=""> </span></div>
    </div>

    <div class="recent-matches" *ngIf="(data.matches | async)">
        <h3>Recent Matches <small>({{ (data.matches | async)?.length }})</small></h3>
        <ul>
            <li *ngFor="let match of (data.matches | async)">{{ match.createdAt | date : 'short' }} - {{ match.duration / 60 | number :'1.0-0' }}:{{ match.duration % 60 | number : '2.0-0' }} {{ match.gameMode }}</li>
        </ul>
    </div>

</div>